[submodule "resources/botkit"]
	path = resources/botkit
	url = https://github.com/howdyai/botkit.git
[submodule "resources/Kashgari"]
	path = resources/Kashgari
	url = https://github.com/BrikerMan/Kashgari.git
[submodule "resources/fastText"]
	path = resources/fastText
	url = https://github.com/facebookresearch/fastText.git
[submodule "resources/ERRNIE"]
	path = resources/ERRNIE
	url = https://github.com/PaddlePaddle/ERNIE.git
[submodule "resources/textblob"]
	path = resources/textblob
	url = https://github.com/sloria/TextBlob.git
[submodule "resources/ParlAI"]
	path = resources/ParlAI
	url = https://github.com/facebookresearch/ParlAI.git
[submodule "resources/DeepPavlov"]
	path = resources/DeepPavlov
	url = https://github.com/deepmipt/DeepPavlov.git
[submodule "resources/chatterbot"]
	path = resources/chatterbot
	url = https://github.com/gunthercox/ChatterBot.git
[submodule "resources/spaCy"]
	path = resources/spaCy
	url = https://github.com/explosion/spaCy.git
[submodule "resources/nlp-architect"]
	path = resources/nlp-architect
	url = https://github.com/NervanaSystems/nlp-architect.git
[submodule "resources/fairseq"]
	path = resources/fairseq
	url = https://github.com/pytorch/fairseq.git
[submodule "resources/stanfordnlp-stanza"]
	path = resources/stanfordnlp-stanza
	url = https://github.com/stanfordnlp/stanza.git
[submodule "resources/testhero"]
	path = resources/testhero
	url = https://github.com/jbesomi/texthero.git
[submodule "resources/didi-delta"]
	path = resources/didi-delta
	url = https://github.com/didi/delta.git
