[submodule "resources/botkit"]
	path = resources/botkit
	url = https://github.com/howdyai/botkit.git
[submodule "resources/Kashgari"]
	path = resources/Kashgari
	url = https://github.com/BrikerMan/Kashgari.git
[submodule "resources/fastText"]
	path = resources/fastText
	url = https://github.com/facebookresearch/fastText.git
[submodule "resources/ERRNIE"]
	path = resources/ERRNIE
	url = https://github.com/PaddlePaddle/ERNIE.git
[submodule "resources/textblob"]
	path = resources/textblob
	url = https://github.com/sloria/TextBlob.git
[submodule "resources/ParlAI"]
	path = resources/ParlAI
	url = https://github.com/facebookresearch/ParlAI.git
[submodule "resources/DeepPavlov"]
	path = resources/DeepPavlov
	url = https://github.com/deepmipt/DeepPavlov.git
[submodule "resources/chatterbot"]
	path = resources/chatterbot
	url = https://github.com/gunthercox/ChatterBot.git
[submodule "resources/spaCy"]
	path = resources/spaCy
	url = https://github.com/explosion/spaCy.git
[submodule "resources/nlp-architect"]
	path = resources/nlp-architect
	url = https://github.com/NervanaSystems/nlp-architect.git
[submodule "resources/fairseq"]
	path = resources/fairseq
	url = https://github.com/pytorch/fairseq.git
[submodule "resources/stanfordnlp-stanza"]
	path = resources/stanfordnlp-stanza
	url = https://github.com/stanfordnlp/stanza.git
[submodule "resources/testhero"]
	path = resources/texthero
	url = https://github.com/jbesomi/texthero.git
[submodule "resources/didi-delta"]
	path = resources/didi-delta
	url = https://github.com/didi/delta.git
[submodule "resources/hanLP"]
	path = resources/hanLP
	url = https://github.com/hankcs/HanLP.git
[submodule "resources/NLP-progress"]
	path = resources/NLP-progress
	url = https://github.com/sebastianruder/NLP-progress.git
[submodule "resources/huggingface-nlp"]
	path = resources/huggingface-nlp
	url = https://github.com/huggingface/nlp.git
[submodule "resources/flairNLP"]
	path = resources/flairNLP
	url = https://github.com/flairNLP/flair.git
[submodule "resources/snips-nlu"]
	path = resources/snips-nlu
	url = https://github.com/snipsco/snips-nlu.git
[submodule "resources/allennlp"]
	path = resources/allennlp
	url = https://github.com/allenai/allennlp.git
[submodule "resources/awesome-nlp"]
	path = resources/awesome-nlp
	url = https://github.com/keon/awesome-nlp.git
[submodule "resources/gluon-nlp"]
	path = resources/gluon-nlp
	url = https://github.com/dmlc/gluon-nlp.git
[submodule "resources/microsoft-nlp-recipes"]
	path = resources/microsoft-nlp-recipes
	url = https://github.com/microsoft/nlp-recipes.git
[submodule "resources/funNLP"]
	path = resources/funNLP
	url = https://github.com/fighting41love/funNLP.git
[submodule "resources/OpenNMT-py"]
	path = resources/OpenNMT-py
	url = https://github.com/OpenNMT/OpenNMT-py.git
[submodule "resources/light-nlp/lightUtils"]
	path = resources/light-nlp/lightUtils
	url = https://github.com/smilelight/lightUtils.git
[submodule "resources/light-nlp/lightKG"]
	path = resources/light-nlp/lightKG
	url = https://github.com/smilelight/lightKG.git
[submodule "resources/light-nlp/lightNLP"]
	path = resources/light-nlp/lightNLP
	url = https://github.com/smilelight/lightNLP.git
[submodule "resources/texar"]
	path = resources/texar
	url = https://github.com/asyml/texar.git
[submodule "resources/light-nlp/lightText"]
	path = resources/light-nlp/lightText
	url = https://github.com/smilelight/lightText.git
[submodule "resources/nltk"]
	path = resources/nltk
	url = https://github.com/nltk/nltk.git
[submodule "resources/stanfordnlp-CoreNLP"]
	path = resources/stanfordnlp-CoreNLP
	url = https://github.com/stanfordnlp/CoreNLP.git
[submodule "resources/vqa-mmf"]
	path = resources/vqa-mmf
	url = https://github.com/facebookresearch/mmf.git
[submodule "resources/bert/bort"]
	path = resources/bert/bort
	url = https://github.com/alexa/bort
[submodule "resources/bert/ner_zh"]
	path = resources/bert/ner_zh
	url = https://github.com/luopeixiang/named_entity_recognition
[submodule "resources/thunlp/gnnpapers"]
	path = resources/thunlp/gnnpapers
	url = https://github.com/thunlp/GNNPapers.git
[submodule "resources/thunlp/nrepapers"]
	path = resources/thunlp/nrepapers
	url = https://github.com/thunlp/NREPapers.git
[submodule "resources/thunlp/scpapers"]
	path = resources/thunlp/scpapers
	url = https://github.com/thunlp/SCPapers.git
[submodule "resources/thunlp/plmpapers"]
	path = resources/thunlp/plmpapers
	url = https://github.com/thunlp/PLMpapers.git
[submodule "resources/thunlp/taadpapers"]
	path = resources/thunlp/taadpapers
	url = https://github.com/thunlp/TAADpapers.git
[submodule "resources/thunlp/nrlpapers"]
	path = resources/thunlp/nrlpapers
	url = https://github.com/thunlp/NRLPapers.git
[submodule "resources/thunlp/krlpapers"]
	path = resources/thunlp/krlpapers
	url = https://github.com/thunlp/KRLPapers.git
[submodule "resources/thunlp/neuirpapers"]
	path = resources/thunlp/neuirpapers
	url = https://github.com/thunlp/NeuIRPapers.git
[submodule "resources/thunlp/rcpapers"]
	path = resources/thunlp/rcpapers
	url = https://github.com/thunlp/RCPapers.git
[submodule "resources/thunlp/legalpapers"]
	path = resources/thunlp/legalpapers
	url = https://github.com/thunlp/LegalPapers.git
[submodule "resources/thunlp/openne"]
	path = resources/thunlp/openne
	url = https://github.com/thunlp/OpenNE.git
[submodule "resources/fastai"]
	path = resources/fastai
	url = https://gitee.com/aimo-ai/fastai.git
[submodule "resources/thunlp/openke"]
	path = resources/thunlp/openke
	url = https://gitee.com/aimo-ai/thunlp-OpenKE.git
[submodule "resources/thunlp/opennre"]
	path = resources/thunlp/opennre
	url = https://gitee.com/aimo-ai/thunlp-OpenNRE.git
[submodule "resources/transformers"]
	path = resources/transformers
	url = https://gitee.com/aimo-ai/transformers.git
